[user]
	email = derntl@gmx.net
	name = itsKontra
[credential "https://github.com"]
	helper = 
	helper = !/home/matthias/.local/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/matthias/.local/bin/gh auth git-credential
