body.matugen {
  --accent: #83C092;
  --accent-overlay: #A7C080;
  
  --primary: #A7C080;
  --primary-hover: #2E383C;
  --navbar-accent: var(--primary);
  
  --background: #1E2326;
  --body-background: #1E2326;
  --navbar-background: #2E383C;
  
  --background-darker: var(--background);
  --current-background: var(--body-background);
  --navbar-active-background: #495351;

  --gradient-body-background: linear-gradient(
    90deg,
    var(--background-darker) -32px,
    var(--body-background) 64px,
    var(--body-background) 100%
  );
  
  --input-background: var(--navbar-background);
  --modal-background: var(--body-background);
  --modal-border: var(--body-background);

  --success: #83C092;
  --success-hover: #2E383C;
  --danger: #E67E80;
  --danger-hover: #2E383C;

  --text-default: #D3C6AA;
  --text-title: #D3C6AA;
  --text-secondary: #9DA9A0;
  --text-tertiary: #9DA9A0;
  --text-hover: #A7C080;

  --text-title: #D3C6AA;
  --action-icon: #D3C6AA;
  --action-icon-hover: #A7C080;
  --action-icon-active: #2E383C;
  --icons-background: #2E383C;
  --icon-disabled: #9DA9A0;

  --anticheat-denied: var(--danger);
  --anticheat-broken: var(--accent);
  --anticheat-running: var(--primary);
  --anticheat-supported: var(--success);
  --anticheat-planned: #7FBBB3;

  --neutral-06: #9DA9A0;
  --gamecard-title-color: #D3C6AAcc;
  --secondary-button: var(--accent);
  --tertiary-button: var(--primary);
}
