body.matugen {
  --accent: #EBBCBA;
  --accent-overlay: #C4A7E7;
  
  --primary: #C4A7E7;
  --primary-hover: #26233A;
  --navbar-accent: var(--primary);
  
  --background: #191724;
  --body-background: #191724;
  --navbar-background: #26233A;
  
  --background-darker: var(--background);
  --current-background: var(--body-background);
  --navbar-active-background: #403D52;

  --gradient-body-background: linear-gradient(
    90deg,
    var(--background-darker) -32px,
    var(--body-background) 64px,
    var(--body-background) 100%
  );
  
  --input-background: var(--navbar-background);
  --modal-background: var(--body-background);
  --modal-border: var(--body-background);

  --success: #EBBCBA;
  --success-hover: #26233A;
  --danger: #EB6F92;
  --danger-hover: #26233A;

  --text-default: #E0DEF4;
  --text-title: #E0DEF4;
  --text-secondary: #908CAA;
  --text-tertiary: #908CAA;
  --text-hover: #C4A7E7;

  --text-title: #E0DEF4;
  --action-icon: #E0DEF4;
  --action-icon-hover: #C4A7E7;
  --action-icon-active: #26233A;
  --icons-background: #1F1D2E;
  --icon-disabled: #908CAA;

  --anticheat-denied: var(--danger);
  --anticheat-broken: var(--accent);
  --anticheat-running: var(--primary);
  --anticheat-supported: var(--success);
  --anticheat-planned: #9CCFD8;

  --neutral-06: #908CAA;
  --gamecard-title-color: #E0DEF4cc;
  --secondary-button: var(--accent);
  --tertiary-button: var(--primary);
}
